/********************************************************************************
* Author: Christopher Chang                                                     *
* Date: Tuesday 25th September 2018                                             *
* Purpose: CSS Stylesheet for the homepage                                      *
********************************************************************************/

/* SIDEBAR */
/*  stretch Will equalize both page content and sidebar height */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active{
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}



/* EXTRA COLOURING FOR SIDEBAR */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #4B0082;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #8A2BE2;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4B0082;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4B0082;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #9370DB;
}


/* SIDEBAR TOGGLE BUTTON STYLING */
.glyphicon-nav {
    width: 20px;
    padding: 8px 0px;
    position: relative;
    display: inline-block;
  }
  .glyphicon-nav:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-top: 2px solid indigo;
    border-bottom: 2px solid indigo;
    top: 0px;
  }
  .glyphicon-nav:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    height: 2px;
    width: 100%;
    background: indigo;
  }

  /* SET BACKGROUND IMAGE */
  body{
    background-image: url("../../images/touka.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* BUTTON COLOURING */
.btn{
    background-color: #27c2a5;
    color: #fff;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
}

.btn:hover, .btn:focus{
    background-color: #25a890 !important;
    border-bottom: 4px solid #25a890 !important;
}