body{
	background-image: url("/images/touka.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


.card {
    display:inline-block;
}

.widthSet {
    max-width: 100px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

h1.display-4{
	font-weight: 900;
}
